html, body {
    margin: 0;
    padding: 0;
}

.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product__header {
    padding-top: 60px;
}

.product {
    background-color: whitesmoke;
    border: 2px solid blue;
    padding: 10px;
    width: 25%;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: lightskyblue;
    padding: 0;
    height: 60px;
    position: fixed;
    top: 0;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item a {
    text-decoration: none;
}

.nav__item {
    margin: 5px 40px 5px 5px;
}

.nav__item h4 {
    padding: 0;
    margin: 0;
}
